@media  screen and (max-width:800px) {

    nav{
        flex-direction: column;
    }
    .logo{
        margin: 10px;
    }
    .slider{
        height: 20vh;
    }
    .img2{
        height: 145px;
        width: 180px;
    }
}
